.confirmation-dialog{
    z-index: 3;
    position: absolute;
    background-color: white;
    opacity: 3;
    border: 1px solid black;
    padding: 2%;
    top: 40%;
    left: 33%;
    box-shadow:1px 1px 3px 2px grey ;
}